<a href="https://colab.research.google.com/github/Careless-Caramel/Careless-Caramel/blob/main/Practice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Exploratory Data Analysis**

* Exploratory Data Analysis or (EDA) is understanding the data sets by 
summarizing their main characteristics often plotting them visually. 
* This step is very important especially when we arrive at modeling the data in order to apply Machine learning.
* Plotting in EDA consists of Histograms, Box plot, Scatter plot and many more.
* It often takes much time to explore the data. 
* Through the process of EDA, we can ask to define the problem statement or definition on our data set which is very important.

Let's get started .....


---

##**Importing required libraries**

In [ ]:
import pandas as  pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(color_codes=True)
from scipy.io.arff import loadarff

##**Loading data**

In [ ]:
raw_data_1year=loadarff("/content/1year.arff")
df_1year=pd.DataFrame(raw_data_1year[0])
raw_data_2year=loadarff("/content/2year.arff")
df_2year=pd.DataFrame(raw_data_2year[0])
raw_data_3year=loadarff("/content/3year.arff")
df_3year=pd.DataFrame(raw_data_3year[0])
raw_data_4year=loadarff("/content/4year.arff")
df_4year=pd.DataFrame(raw_data_4year[0])
raw_data_5year=loadarff("/content/5year.arff")
df_5year=pd.DataFrame(raw_data_5year[0])

In [ ]:
df_1year

         Attr1    Attr2    Attr3    Attr4  ...   Attr62   Attr63    Attr64  class
0     0.200550  0.37951  0.39641  2.04720  ...   82.658   4.4158   7.42770   b'0'
1     0.209120  0.49988  0.47225  1.94470  ...  107.350   3.4000  60.98700   b'0'
2     0.248660  0.69592  0.26713  1.55480  ...  134.270   2.7185   5.20780   b'0'
3     0.081483  0.30734  0.45879  2.49280  ...   86.435   4.2228   5.54970   b'0'
4     0.187320  0.61323  0.22960  1.40630  ...  127.210   2.8692   7.89800   b'0'
...        ...      ...      ...      ...  ...      ...      ...       ...    ...
7022  0.018371  0.47410 -0.13619  0.60839  ...   31.268  11.6730   5.14890   b'1'
7023 -0.013359  0.58354 -0.02265  0.92896  ...   94.092   3.8792   1.75720   b'1'
7024  0.006338  0.50276  0.43923  1.87360  ...   51.019   7.1542  62.00100   b'1'
7025 -0.041643  0.84810 -0.12852  0.57485  ...  261.850   1.3939   0.51005   b'1'
7026  0.014946  0.94648  0.03211  1.03630  ...  108.640   3.3599  35.11800   b'1'

[7027 rows x 65 columns]

##**Checking the type of the data**

In [ ]:
print("\n1-Year Datatype : \n\n",df_1year.dtypes)
print("\n2-Year Datatype : \n\n",df_2year.dtypes)
print("\n3-Year Datatype : \n\n",df_3year.dtypes)
print("\n4-Year Datatype : \n\n",df_4year.dtypes)
print("\n5-Year Datatype : \n\n",df_5year.dtypes)

1-Year Datatype :

 Attr1     float64
Attr2     float64
Attr3     float64
Attr4     float64
Attr5     float64
           ...
Attr61    float64
Attr62    float64
Attr63    float64
Attr64    float64
class      object
Length: 65, dtype: object

2-Year Datatype :

 Attr1     float64
Attr2     float64
Attr3     float64
Attr4     float64
Attr5     float64
           ...
Attr61    float64
Attr62    float64
Attr63    float64
Attr64    float64
class      object
Length: 65, dtype: object

3-Year Datatype :

 Attr1     float64
Attr2     float64
Attr3     float64
Attr4     float64
Attr5     float64
           ...
Attr61    float64
Attr62    float64
Attr63    float64
Attr64    float64
class      object
Length: 65, dtype: object

4-Year Datatype :

 Attr1     float64
Attr2     float64
Attr3     float64
Attr4     float64
Attr5     float64
           ...
Attr61    float64
Attr62    float64
Attr63    float64
Attr64    float64
class      object
Length: 65, dtype: object

5-Year Datatype :

 Attr1     float64
Attr2     float64
Attr3     float64
Attr4     float64
Attr5     float64
           ...
Attr61    float64
Attr62    float64
Attr63    float64
Attr64    float64
class      object
Length: 65, dtype: object

##Dropping duplicate rows

In [ ]:
# Total number of rows and columns
print("Total number of rows and columns in year 1 : ",df_1year.shape)
print("Total number of rows and columns in year 2 : ",df_2year.shape)
print("Total number of rows and columns in year 3 : ",df_3year.shape)
print("Total number of rows and columns in year 4 : ",df_4year.shape)
print("Total number of rows and columns in year 5 : ",df_5year.shape)

Total number of rows and columns in year 1 :  (7027, 65)
Total number of rows and columns in year 2 :  (10173, 65)
Total number of rows and columns in year 3 :  (10503, 65)
Total number of rows and columns in year 4 :  (9792, 65)
Total number of rows and columns in year 5 :  (5910, 65)

In [ ]:
# Rows containing duplicate data
duplicate_rows_df_1year=df_1year[df_1year.duplicated()]
duplicate_rows_df_2year=df_2year[df_2year.duplicated()]
duplicate_rows_df_3year=df_3year[df_3year.duplicated()]
duplicate_rows_df_4year=df_4year[df_4year.duplicated()]
duplicate_rows_df_5year=df_5year[df_5year.duplicated()]
print("Number of duplicate rows in year 1 : ",duplicate_rows_df_1year.shape)
print("Number of duplicate rows in year 2 : ",duplicate_rows_df_2year.shape)
print("Number of duplicate rows in year 3 : ",duplicate_rows_df_3year.shape)
print("Number of duplicate rows in year 4 : ",duplicate_rows_df_4year.shape)
print("Number of duplicate rows in year 5 : ",duplicate_rows_df_5year.shape)

Number of duplicate rows in year 1 :  (82, 65)
Number of duplicate rows in year 2 :  (90, 65)
Number of duplicate rows in year 3 :  (87, 65)
Number of duplicate rows in year 4 :  (82, 65)
Number of duplicate rows in year 5 :  (60, 65)